#navbar{
    width: 100%;
    .container_own{
        .ingressLogo{
            .logo{
                width: 600px;
                height: 500px;
                background-size: cover;
            }
        }
    }
}