#linkToSite {
  width: 100%;
  background-color: #3f79ff;
  margin-bottom: 110px; }
  #linkToSite .container_own {
    padding-top: 58px;
    padding-bottom: 58px; }
    #linkToSite .container_own .rightColumn {
      width: 75%; }
      #linkToSite .container_own .rightColumn .logo {
        width: 379.52px;
        height: 77px;
        background-image: url(../img/logo-big.svg);
        background-size: cover;
        background-repeat: no-repeat; }
      #linkToSite .container_own .rightColumn p {
        margin-top: 24px;
        font-family: "Mulish-Regular";
        font-style: italic;
        font-weight: 750;
        font-size: 24px;
        line-height: 160%;
        color: #ffffff; }
    #linkToSite .container_own .goToSite {
      border: 1px solid white;
      width: 150px;
      padding: 10px 16px;
      box-shadow: none;
      transition: all .3s linear; }
      #linkToSite .container_own .goToSite .rightArrow {
        width: 20px;
        height: 20px;
        background-image: url(../img/right-arrow-white.svg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 10px; }
      #linkToSite .container_own .goToSite p {
        font-family: "Mulish-Regular";
        font-style: normal;
        font-weight: 750;
        font-size: 16px;
        line-height: 160%;
        color: #ffffff;
        margin: 0 !important; }
    #linkToSite .container_own .goToSite:hover {
      background-color: #155bff8f; }

@media screen and (min-width: 375px) {
  #linkToSite {
    margin-bottom: 45px !important; }
    #linkToSite .container_own {
      padding-left: 50px !important;
      padding-right: 50px !important; }
      #linkToSite .container_own .rightColumn .logo {
        width: 229.52px !important;
        height: 42px !important; }
      #linkToSite .container_own .rightColumn P {
        font-size: 13px !important; } }
@media screen and (min-width: 570px) {
  #linkToSite .container_own {
    padding-left: 50px !important;
    padding-right: 50px !important; }
    #linkToSite .container_own .rightColumn .logo {
      width: 229.52px !important;
      height: 42px !important; }
    #linkToSite .container_own .rightColumn P {
      font-size: 13px !important; } }
@media screen and (min-width: 768px) {
  #linkToSite {
    margin-bottom: 60px !important; }
    #linkToSite .container_own {
      padding-left: 80px !important;
      padding-right: 80px !important; }
      #linkToSite .container_own .rightColumn .logo {
        width: 379.52px !important;
        height: 77px !important; }
      #linkToSite .container_own .rightColumn P {
        font-size: 24px !important; } }
@media screen and (min-width: 922px) {
  #linkToSite .container_own {
    padding-left: 80px !important;
    padding-right: 80px !important; } }
@media screen and (min-width: 991px) {
  #linkToSite {
    margin-bottom: 80px !important; }
    #linkToSite .container_own {
      padding-left: 165px !important;
      padding-right: 165px !important; } }
@media screen and (min-width: 1200px) {
  #linkToSite {
    margin-bottom: 110px !important; } }

/*# sourceMappingURL=linkToSite.css.map */
