#navbar {
  background-color: #FFFFFF; }
  #navbar a {
    color: #000000; }
  #navbar .container_own .navbar .navbar-brand {
    width: 198px;
    height: 45px;
    background-image: url(../img/Logo.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  #navbar .container_own .navbar .collapse .navbar-nav .nav-item i {
    color: #3F79FF;
    font-size: 12px;
    padding-left: 5px; }
  #navbar .container_own .navbar .collapse .navbar-nav .nav-item .nav-link {
    font-family: 'Mulish-Medium';
    font-style: normal;
    font-weight: 650;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #000000; }
  #navbar .container_own .navbar .collapse .navbar-nav .nav-item .nav-link.show .fa-arrow-up {
    display: var(--fa-display, inline-block) !important; }
  #navbar .container_own .navbar .collapse .navbar-nav .nav-item .nav-link.show .fa-arrow-down {
    display: none !important; }
  #navbar .container_own .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #3F79FF; }
  #navbar .container_own .navbar .collapse .navbar-nav .nav-item .nav-link.active {
    color: #3F79FF !important; }
  #navbar .container_own .navbar .collapse .navbar-nav .nav-item .dropdown-menu {
    width: 793px;
    top: 50px;
    left: -150px;
    border-radius: 0px 0px 5px 5px;
    border-top: 4px solid #3F79FF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }
    #navbar .container_own .navbar .collapse .navbar-nav .nav-item .dropdown-menu .subMenu {
      width: calc(100%/4.1); }
      #navbar .container_own .navbar .collapse .navbar-nav .nav-item .dropdown-menu .subMenu .dropdown-item {
        font-family: 'Mulish-Bold';
        font-weight: 200;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        color: #3F79FF; }
      #navbar .container_own .navbar .collapse .navbar-nav .nav-item .dropdown-menu .subMenu .dropdown-item:hover {
        text-decoration: none !important;
        background-color: #FFFFFF;
        color: #1f5be9 !important; }
      #navbar .container_own .navbar .collapse .navbar-nav .nav-item .dropdown-menu .subMenu .subDevelopment a {
        font-family: 'Mulish-Regular';
        font-weight: 750;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px; }
      #navbar .container_own .navbar .collapse .navbar-nav .nav-item .dropdown-menu .subMenu ul {
        padding-left: 17px; }
        #navbar .container_own .navbar .collapse .navbar-nav .nav-item .dropdown-menu .subMenu ul li a {
          font-family: 'Mulish-Regular';
          font-weight: 750;
          font-style: normal;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.2px;
          color: #000000;
          transition: all .3s linear; }
    #navbar .container_own .navbar .collapse .navbar-nav .nav-item .dropdown-menu .subMenu a:hover {
      color: #3F79FF !important;
      transition: all .3s linear; }
    #navbar .container_own .navbar .collapse .navbar-nav .nav-item .dropdown-menu #subCyber.subMenu {
      margin-left: auto;
      margin-top: -90px; }
  #navbar .container_own .navbar .collapse .ingressAcademy {
    font-family: 'Mulish-Bold';
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000; }
    #navbar .container_own .navbar .collapse .ingressAcademy .rightArrowIcon {
      width: 20px;
      height: 21px;
      background-image: url(../img/fas-fa-right-icon.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 10px; }

.navbar-light .navbar-toggler {
  color: #FFFFFF;
  border: 1px solid #3F79FF; }

@media screen and (min-width: 375px) {
  #navbar .container_own {
    padding-left: 50px !important;
    padding-right: 50px !important; }
    #navbar .container_own .navbar .navbar-brand {
      width: 150px;
      height: 33px; }
    #navbar .container_own .navbar .dropdown-menu {
      width: 100% !important; }
      #navbar .container_own .navbar .dropdown-menu #subInfrastructure.subMenu {
        margin-top: 20px !important; }
      #navbar .container_own .navbar .dropdown-menu #subCyber.subMenu {
        margin-left: 0% !important;
        margin-top: 20px !important; }
      #navbar .container_own .navbar .dropdown-menu #subTraining.subMenu {
        margin-top: 20px !important; }
      #navbar .container_own .navbar .dropdown-menu #subConsulting.subMenu {
        margin-top: 20px !important; }
      #navbar .container_own .navbar .dropdown-menu .subMenu {
        width: 100% !important;
        text-align: center !important; } }
@media screen and (min-width: 450px) {
  #navbar .container_own .navbar .navbar-brand {
    width: 150px;
    height: 33px;
    display: block; } }
@media screen and (min-width: 500px) {
  #navbar .container_own .navbar .navbar-brand {
    width: 170px;
    height: 38px; } }
@media screen and (min-width: 570px) {
  #navbar .container_own {
    padding-left: 70px !important;
    padding-right: 70px !important; }
    #navbar .container_own .navbar .navbar-brand {
      width: 198px;
      height: 45px; }
    #navbar .container_own .navbar .dropdown-menu .subMenu {
      width: calc(100%/2.2) !important;
      text-align: left !important; }
    #navbar .container_own .navbar .dropdown-menu #subConsulting.subMenu {
      margin-top: 0 !important; } }
@media screen and (min-width: 768px) {
  #navbar .container_own {
    padding-left: 100px !important;
    padding-right: 100px !important; } }
@media screen and (min-width: 876px) {
  #navbar .container_own .navbar .dropdown-menu .subMenu {
    width: calc(100%/3.2) !important; }
  #navbar .container_own .navbar .dropdown-menu #subInfrastructure.subMenu {
    margin-top: 0 !important; } }
@media screen and (min-width: 992px) {
  #navbar .container_own .navbar .container-fluid .collapse .navbar-nav .dropdown-menu {
    width: 793px !important; }
    #navbar .container_own .navbar .container-fluid .collapse .navbar-nav .dropdown-menu .subMenu {
      width: calc(100%/4.1) !important; }
    #navbar .container_own .navbar .container-fluid .collapse .navbar-nav .dropdown-menu #subCyber.subMenu {
      margin-left: auto !important;
      margin-top: -90px !important; }
    #navbar .container_own .navbar .container-fluid .collapse .navbar-nav .dropdown-menu #subTraining.subMenu {
      margin-top: 0 !important; } }
@media screen and (min-width: 1130px) {
  #navbar .container_own {
    padding-left: 165px !important;
    padding-right: 165px !important; } }

/*# sourceMappingURL=navbar.css.map */
