* {
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-word; }

body {
  overflow-x: hidden; }

@media screen and (min-width: 576px) {
  .container-own {
    max-width: 540px; } }
@media screen and (min-width: 768px) {
  .container-own {
    max-width: 760px; } }
@media screen and (min-width: 991px) {
  .container-own {
    max-width: 960px; } }
@media screen and (min-width: 1200px) {
  .container-own {
    max-width: 1155px; } }
@media screen and (min-width: 1350px) {
  .container-own {
    max-width: 1205px; } }
@font-face {
  src: url(../fonts/Mulish/Mulish-Black.ttf);
  font-family: Mulish-Black;
  font-weight: 100; }
@font-face {
  src: url(../fonts/Mulish/Mulish-BlackItalic.ttf);
  font-family: Mulish-BlackItalic;
  font-weight: 150; }
@font-face {
  src: url(../fonts/Mulish/Mulish-Bold.ttf);
  font-family: Mulish-Bold;
  font-weight: 200; }
@font-face {
  src: url(../fonts/Mulish/Mulish-BoldItalic.ttf);
  font-family: Mulish-BoldItalic;
  font-weight: 250; }
@font-face {
  src: url(../fonts/Mulish/Mulish-ExtraBold.ttf);
  font-family: Mulish-ExtraBold;
  font-weight: 300; }
@font-face {
  src: url(../fonts/Mulish/Mulish-ExtraBoldItalic.ttf);
  font-family: Mulish-ExtraBoldItalic;
  font-weight: 350; }
@font-face {
  src: url(../fonts/Mulish/Mulish-ExtraLight.ttf);
  font-family: Mulish-ExtraLight;
  font-weight: 400; }
@font-face {
  src: url(../fonts/Mulish/Mulish-ExtraLightItalic.ttf);
  font-family: Mulish-ExtraLightItalic;
  font-weight: 450; }
@font-face {
  src: url(../fonts/Mulish/Mulish-Italic.ttf);
  font-family: Mulish-Italic;
  font-weight: 500; }
@font-face {
  src: url(../fonts/Mulish/Mulish-Light.ttf);
  font-family: Mulish-Light;
  font-weight: 550; }
@font-face {
  src: url(../fonts/Mulish/Mulish-LightItalic.ttf);
  font-family: Mulish-LightItalic;
  font-weight: 600; }
@font-face {
  src: url(../fonts/Mulish/Mulish-Medium.ttf);
  font-family: Mulish-Medium;
  font-weight: 650; }
@font-face {
  src: url(../fonts/Mulish/Mulish-MediumItalic.ttf);
  font-family: Mulish-MediumItalic;
  font-weight: 700; }
@font-face {
  src: url(../fonts/Mulish/Mulish-Regular.ttf);
  font-family: Mulish-Regular;
  font-weight: 750; }
@font-face {
  src: url(../fonts/Mulish/Mulish-SemiBold.ttf);
  font-family: Mulish-SemiBold;
  font-weight: 800; }
@font-face {
  src: url(../fonts/Mulish/Mulish-SemiBoldItalic.ttf);
  font-family: Mulish-SemiBoldItalic;
  font-weight: 850; }
#topSection .owl-carousel .item {
  width: 100%;
  height: 90vh;
  background-image: url(../img/section1_bg.svg);
  background-size: cover;
  background-repeat: no-repeat; }
  #topSection .owl-carousel .item .container_own {
    position: absolute;
    top: 223px; }
    #topSection .owl-carousel .item .container_own .headerOverBg {
      width: calc(100%/2.5);
      font-family: 'Mulish-ExtraBold';
      font-style: normal;
      font-weight: 300;
      font-size: 46px;
      line-height: 160%; }
    #topSection .owl-carousel .item .container_own .service {
      font-family: 'Mulish';
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      background-color: #3F79FF;
      margin-top: 20px;
      padding: 10px 50px; }
#topSection .owl-carousel .owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 3%; }
  #topSection .owl-carousel .owl-dots .owl-dot :hover {
    background-color: #3F79FF; }

#partnership {
  background-color: #FFFFFF; }
  #partnership .containerP {
    width: 100%;
    padding-left: 95px;
    padding-right: 95px; }
    #partnership .containerP .ourPartner {
      padding-top: 80px;
      padding-bottom: 90px; }
      #partnership .containerP .ourPartner .generalP {
        width: 130px;
        height: 65px;
        background-size: cover;
        background-repeat: no-repeat; }
      #partnership .containerP .ourPartner #socar {
        background-image: url(../img/socar.svg); }
      #partnership .containerP .ourPartner #azercell {
        background-image: url(../img/azercell.svg); }
      #partnership .containerP .ourPartner #xalqbank {
        background-image: url(../img/xalqbank.svg); }
      #partnership .containerP .ourPartner #azericard {
        background-image: url(../img/azericard.svg); }
      #partnership .containerP .ourPartner #kapitalbank {
        background-image: url(../img/kapital-bank.svg); }
      #partnership .containerP .ourPartner #rabitebank {
        background-image: url(../img/rabitebank.svg); }
      #partnership .containerP .ourPartner #pashabank {
        background-image: url(../img/pasabank.svg); }
      #partnership .containerP .ourPartner #bankOfAmerica {
        background-image: url(../img/bankofAmerica.svg); }

#whatWeDo .bgColor {
  width: 100%;
  height: 293px;
  background-color: #3F79FF; }
  #whatWeDo .bgColor h5 {
    padding-top: 45px;
    padding-bottom: 50px;
    font-family: 'Mulish-ExtraBold';
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF; }
#whatWeDo .video {
  text-align: center;
  margin-top: -150px; }

#ourTechnology {
  padding-top: 110px;
  padding-bottom: 130px; }
  #ourTechnology .header {
    margin-bottom: 55px;
    font-family: 'Mulish-Bold';
    font-size: 34px;
    font-style: normal;
    font-weight: 200; }
  #ourTechnology .stacks .commonIcon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 44px; }
  #ourTechnology .stacks #bootstrap {
    background-image: url(../img/bootstrap.svg); }
  #ourTechnology .stacks #python {
    background-image: url(../img/python.svg); }
  #ourTechnology .stacks #github {
    background-image: url(../img/github.svg); }
  #ourTechnology .stacks #gitlab {
    background-image: url(../img/gitlab.svg); }
  #ourTechnology .stacks #firebase {
    background-image: url(../img/firebase.svg); }
  #ourTechnology .stacks #golang {
    background-image: url(../img/golang.svg); }
  #ourTechnology .stacks #swift {
    background-image: url(../img/swift.svg); }
  #ourTechnology .stacks #php {
    background-image: url(../img/php.svg); }

.linkToSite {
  width: 100%;
  background-color: #3F79FF;
  margin-bottom: 110px; }
  .linkToSite .container_own {
    padding-top: 58px;
    padding-bottom: 58px; }
    .linkToSite .container_own .logo {
      width: 379.52px;
      height: 77px;
      background-image: url(../img/logo-big.svg);
      background-size: cover;
      background-repeat: no-repeat; }
    .linkToSite .container_own p {
      margin-top: 24px;
      font-family: 'Mulish-Regular';
      font-style: italic;
      font-weight: 750;
      font-size: 24px;
      line-height: 160%;
      color: #FFFFFF; }
    .linkToSite .container_own .goToSite {
      border: 1px solid white;
      height: 53px;
      padding: 16px; }
      .linkToSite .container_own .goToSite .rightArrow {
        width: 20px;
        height: 20px;
        background-image: url(../img/right-arrow-white.svg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 10px; }
      .linkToSite .container_own .goToSite p {
        font-family: 'Mulish-Regular';
        font-style: normal;
        font-weight: 750;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        margin: 0 !important; }

#ourServices h2 {
  font-family: 'Mulish-Bold';
  font-style: normal;
  font-weight: 200;
  font-size: 34px;
  line-height: 43px;
  margin-bottom: 100px; }
#ourServices .services {
  width: calc(100%/3.1);
  height: 220px;
  background-color: #F4F6F8;
  margin-bottom: 30px;
  border-radius: 7px;
  padding-top: 55px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; }
  #ourServices .services .icon {
    width: 55px;
    height: 55px;
    background-image: url(../img/developer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 26px; }
  #ourServices .services p {
    font-family: 'Mulish-Bold';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #000000; }
  #ourServices .services .genhoverParag {
    font-family: 'Mulish-Regular';
    font-style: normal;
    font-weight: 750;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    text-decoration: underline !important; }
#ourServices .services:hover .icon {
  display: none; }
#ourServices .services:hover p {
  display: none; }
#ourServices .services:hover .genhoverParag {
  display: block !important;
  color: #FFFFFF; }
#ourServices .development:hover {
  background-image: url(../img/developmentHover.svg); }
#ourServices .consulting .icon {
  background-image: url(../img/consulting.svg); }
#ourServices .consulting:hover {
  background-image: url(../img/consultingHover.svg); }
#ourServices .infrstructure .icon {
  width: 50px;
  background-image: url(../img/cloud.svg); }
#ourServices .infrstructure:hover {
  background-image: url(../img/infrastructureHover.svg); }
#ourServices .trainingService .icon {
  background-image: url(../img/training.svg); }
#ourServices .trainingService:hover {
  background-image: url(../img/trainingHover.svg); }
#ourServices .cyberSecure .icon {
  height: 47px;
  background-image: url(../img/cyber.svg); }
#ourServices .cyberSecure:hover {
  background-image: url(../img/cyberSecureHover.svg); }

#ourTeam {
  margin-top: 90px; }
  #ourTeam .header {
    font-family: 'Mulish-Bold';
    font-weight: 200;
    font-style: normal;
    font-size: 34px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 125px;
    z-index: 1; }
  #ourTeam .backgroundColor {
    width: 100%;
    height: 287px;
    background-color: #F4F6F8; }
  #ourTeam .container_team {
    transform: translateY(-100.5%); }
    #ourTeam .container_team .team_corusel .item {
      width: calc(100%/1.05);
      height: 237px;
      background: linear-gradient(180deg, #F4F6F8 0%, #FFFFFF 81.77%);
      margin-left: 10px;
      margin-top: 78px; }
      #ourTeam .container_team .team_corusel .item .photo {
        width: 156px;
        height: 156px;
        background-image: url(../img/1stmember.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(65%, -50%); }
      #ourTeam .container_team .team_corusel .item .namePosition {
        margin-top: -50px; }
        #ourTeam .container_team .team_corusel .item .namePosition .name {
          font-family: 'Mulish-SemiBold';
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
          margin-bottom: 5px !important; }
        #ourTeam .container_team .team_corusel .item .namePosition .position {
          font-family: 'Mulish-Light';
          font-style: italic;
          font-weight: 550;
          font-size: 14px;
          line-height: 18px;
          color: #000000; }
    #ourTeam .container_team .team_corusel .secondMember .photo {
      background-image: url(../img/2ndMember.svg); }
    #ourTeam .container_team .team_corusel .thirdMember .photo {
      background-image: url(../img/3rdMember.svg); }
    #ourTeam .container_team .team_corusel .fourthMember .photo {
      background-image: url(../img/4thMember.svg); }
    #ourTeam .container_team .team_corusel .owl-nav {
      width: 113%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 55%;
      left: -100px;
      margin-top: 0 !important; }
      #ourTeam .container_team .team_corusel .owl-nav i {
        font-size: 35px;
        color: #3F79FF; }

#navbar {
  width: 100%;
  background-color: white; }
  #navbar .container_own .ingressLogo .logo {
    width: 197.78px;
    height: 45px;
    background-image: url(../img/Logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; }
  #navbar .container_own .ingressAcademy {
    padding-top: 10px;
    padding-bottom: 11px;
    cursor: pointer; }
    #navbar .container_own .ingressAcademy .nextIcon {
      width: 20px;
      height: 20px;
      background-image: url(../img/fas-fa-right-icon.svg);
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 10px; }
    #navbar .container_own .ingressAcademy .ingress {
      font-family: 'Mulish-ExtraBold';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 160%; }
  #navbar .container_own .navbar-nav {
    margin-top: 13px;
    font-family: 'Mulish-Medium';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    letter-spacing: 0.2px; }
    #navbar .container_own .navbar-nav Ul li {
      margin-right: 24px;
      cursor: pointer; }
    #navbar .container_own .navbar-nav .navFirstElement .downIcon {
      width: 8px;
      height: 8px;
      margin-top: 6px;
      margin-left: 5px;
      background-image: url(../img/fas-fa-down-icon.svg);
      background-size: cover;
      background-repeat: no-repeat; }

#place {
  margin-top: 120.46px;
  color: #333333; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #E5E5E5; }

.container_own {
  width: 100%;
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 15px; }

.container_team {
  width: 100%;
  padding-left: 180px;
  padding-right: 180px; }

/*# sourceMappingURL=style.css.map */
