.commonBackground{
    width: 100%;
    height: 150px;
    background-image: url(../img/developmentBg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px;
    margin-bottom: 65px;
    h1{
        font-family: 'Mulish-ExtraBold';
        font-weight: 300;
        font-style: normal;
        font-size: 45px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
}
.comDevSer{
    .icon{
        width: 50px;
        height: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}
.developmentServices{
    margin-bottom: 0;
    .container_own{
        .comDevSer{
            width: calc(100%/2.5);
            margin-bottom: 60px;
            h4{
                font-family: 'Mulish-SemiBold';
                font-weight: 800;
                font-style: normal;
                font-size: 24px;
                line-height: 30px;
                color: #000000;
            }
            p{
                font-family: 'Mulish-Regular';
                font-weight: 750;
                font-size: 16px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.6);
            }
            .softwareIcon{
                width: 47.72px !important;
                background-image: url(../img/setingIcon.svg);
            }
            .microServeIcon{
                background-image: url(../img/microServeIcon.svg);
            }
            .codeReviewIcon{
                width: 42.87px;
                background-image: url(../img/codeReviewIcon.svg);
            }
            .migrationIcon{
                background-image: url(../img/migrationIcon.svg);
            }
        }
    }
}
@media screen and (min-width: 350px) {
    .developmentServices{
        .container_own{
            padding: 30px 60px 0 60px !important;
            .comDevSer{
                width: 100% !important;
                margin-bottom: 30px !important;
            }
        }
    }
    .commonBackground{
        margin-bottom: 30px !important;
        h1{
            font-size: 35px !important;
        }
    }
}
@media screen and (min-width: 570px) {
    .developmentServices{
        .container_own{
            .comDevSer{
                width: calc(100%/2.5) !important;
                margin-bottom: 60px !important;
            }
        }
    }
    .commonBackground{
        h1{
            font-size: 45px !important;
        }
    }
}
@media screen and (min-width: 768px) {
    .developmentServices{
        .container_own{
            padding: 10px 165px !important;
        }
    }
    .commonBackground{
        margin-bottom: 65px !important;
    }
}