#topSection{
        .owl-carousel{
            .item{
                width: 100%;
                height: 90vh;
                background-image: url(../img/section1_bg.svg);
                background-size: cover;
                background-repeat: no-repeat;
                .container_own{
                    position: absolute;
                    top: 223px;
                    .headerOverBg{
                        width: calc(100%/2.4);
                        font-family: 'Mulish-ExtraBold';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 46px;
                        line-height: 74px;
                    }
                    .service{
                        font-family: 'Mulish';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 160%;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: #FFFFFF;
                        background-color: #3F79FF;
                        margin-top:20px;
                        padding: 10px 50px;
                    }
                }
            }
            .owl-dots{
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 3%;
                .owl-dot{
                    :hover{
                        background-color: #3F79FF;
                    }
                }
            }
        }
}
#partnership{
    background-color: #FFFFFF;
    .containerP{
        width: 100%;
        padding-left: 95px;
        padding-right: 95px;
        .ourPartner{
            padding-top: 80px;
            padding-bottom: 90px;
            .generalP{
                width: 130px;
                height: 65px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            #socar{
                background-image: url(../img/socar.svg);
            }
            #azercell{
                background-image: url(../img/azercell.svg);
            }
            #xalqbank{
                background-image: url(../img/xalqbank.svg);
            }
            #azericard{
                background-image: url(../img/azericard.svg);
            }
            #kapitalbank{
                background-image: url(../img/kapital-bank.svg);
            }
            #rabitebank{
                background-image: url(../img/rabitebank.svg);
            }
            #pashabank{
                background-image: url(../img/pasabank.svg);
            }
            #bankOfAmerica{
                background-image: url(../img/bankofAmerica.svg);
            }
        }
    }
}
#whatWeDo{
    .bgColor{
        width: 100%;
        height: 293px;
        background-color: #3F79FF;
        h5{
            padding-top: 45px;
            padding-bottom: 50px;
            font-family: 'Mulish-ExtraBold';
            font-weight: 300;
            font-size: 38px;
            line-height: 48px;
            color: #FFFFFF;
        }
    }
    .video{
        text-align: center;
        margin-top: -150px;
    }
}
#ourTechnology{
    padding-top: 110px;
    padding-bottom: 130px;
    .header{
        margin-bottom: 55px;
        font-family: 'Mulish-Bold';
        font-size: 34px;
        font-style: normal;
        font-weight: 200;
    }
    .stacks{
        .commonIcon{
            width: calc(100%/9.4);
            height: 150px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 25px;
            margin-right: 12px;
            margin-left: 13px;
            border-radius: 7px;
        }
        #bootstrap{
            background-image: url(../img/bootstrap.svg);
        }
        #python{
            background-image: url(../img/python.svg);
        }
        #github{
            background-image: url(../img/github.svg);
        }
        #gitlab{
            background-image: url(../img/gitlab.svg);
        }
        #firebase{
            background-image: url(../img/firebase.svg);
        }
        #golang{
            background-image: url(../img/golang.svg);
        }
        #swift{
            background-image: url(../img/swift.svg);
        }
        #php{
            background-image: url(../img/php.svg);
        }
    }
}
.linkToSite{
    width: 100%;
    background-color: #3F79FF;
    margin-bottom: 110px;
    .container_own{
        padding-top: 58px;
        padding-bottom: 58px;
        .rightColumn{
            width: 75%;
            .logo{
                width: 379.52px;
                height: 77px;
                background-image: url(../img/logo-big.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }
            p{
                margin-top: 24px;
                font-family: 'Mulish-Regular';
                font-style: italic;
                font-weight: 750;
                font-size: 24px;
                line-height: 160%;
                color: #FFFFFF;
            }
        }
        .goToSite{
            border: 1px solid white;
            width: 150px;
            padding: 10px 16px;
            .rightArrow{
                width: 20px;
                height: 20px;
                background-image: url(../img/right-arrow-white.svg);
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
            p{
                font-family: 'Mulish-Regular';
                font-style: normal;
                font-weight: 750;
                font-size: 16px;
                line-height: 160%;
                color: #FFFFFF;
                margin: 0 !important;
            }
        }
    }
}
#ourServices{
    h2{
        font-family: 'Mulish-Bold';
        font-style: normal;
        font-weight: 200;
        font-size: 34px;
        line-height: 43px;
        margin-bottom: 100px;
    }
    .services{
        width: 350px;
        height: 220px;
        background-color: #F4F6F8;
        margin-bottom: 30px;
        border-radius: 7px;
        padding-top: 55px;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        .icon{
            width: 55px;
            height: 55px;
            background-image: url(../img/developer.svg);
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 26px;
        }
        p{
            font-family: 'Mulish-Bold';
            font-style: normal;
            font-weight: 200;
            font-size: 24px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #000000;
        }
        .genhoverParag{
            font-family: 'Mulish-Regular';
            font-style: normal;
            font-weight: 750;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.2px;
            text-decoration: underline !important;
        }
    }
    .services:hover{
        .icon{
            display: none ;
        }
        p{
            display: none;
        }
        .genhoverParag{
            display: block !important;
            color: #FFFFFF;
        }
    }
    .development:hover{
        background-image: url(../img/developmentHover.svg);
    }
    .consulting{
        .icon{
            background-image: url(../img/consulting.svg);
        }
    }
    .consulting:hover{
        background-image: url(../img/consultingHover.svg);
    }
    .infrstructure{
        .icon{
            width: 50px;
            background-image: url(../img/cloud.svg);
        }
    }
    .infrstructure:hover{
        background-image: url(../img/infrastructureHover.svg);
    }
    .trainingService{
        .icon{
            background-image: url(../img/training.svg);
        }
    }
    .trainingService:hover{
        background-image: url(../img/trainingHover.svg);
    }
    .cyberSecure{
        .icon{
            height: 47px;
            background-image: url(../img/cyber.svg);
        }
    }
    .cyberSecure:hover{
        background-image: url(../img/cyberSecureHover.svg);
    }
}
#ourTeam{
    margin-top: 90px;
    height: 57vh;
    .header{
        font-family: 'Mulish-Bold';
        font-weight: 200;
        font-style: normal;
        font-size: 34px;
        line-height: 43px;
        color: #000000;
        margin-bottom: 125px;
        z-index: 1;
    }
    .backgroundColor{
        width: 100%;
        height: 287px;
        background-color: #F4F6F8;
        .container_team{
            top: 0;
            transform: translateY(-76px);
            .team_corusel{
                .item{
                    width: calc(100%/1.05);
                    height: 237px;
                    background: linear-gradient(180deg, #F4F6F8 0%, #FFFFFF 81.77%);
                    margin-left: 10px;
                    margin-top: 76px;
                    .photo{
                        width: 156px;
                        height: 156px;
                        background-image: url(../img/1stmember.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin-left: auto;
                        margin-right: auto;
                        transform: translateY(-60px);
                    }
                    .namePosition{
                        margin-top: -50px;
                        .name{
                            font-family: 'Mulish-SemiBold';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 16px;
                            line-height: 20px;
                            color: #000000;
                            margin-bottom: 5px !important;
                        }
                        .position{
                            font-family: 'Mulish-Light';
                            font-style: italic;
                            font-weight: 550;
                            font-size: 14px;
                            line-height: 18px;
                            color: #000000;
                        }
                    }
                    .socialMedia{
                        margin-top: 30px;
                        font-size: 20px;
                        padding-left: 13px;
                        i{
                            margin-right: 22.5px;
                            color: #A8ACB4;
                        }
                        i:hover{
                            color: #2770F1;
                            transition: all .3s;
                        }
                    }
                }
                .secondMember{
                    .photo{
                        background-image: url(../img/2ndMember.svg);
                    }
                }
                .thirdMember{
                    .photo{
                        background-image: url(../img/3rdMember.svg);
                    }
                }
                .fourthMember{
                    .photo{
                        background-image: url(../img/4thMember.svg);
                    }
                }
                .owl-nav{
                    width: 122%;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 55%;
                    left: -100px;
                    margin-top: 0 !important;
                    i{
                        font-size: 35px;
                        color: #3F79FF;
                    }
                }
            } 
        }
    }
}
.statistics{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 110px; 
    margin-top: 100px;
    
    .background{
        width: 100%;
        background-color: #2770F1;
        border-radius: 7px;
        padding: 61px 125px;
        .commonStatistic{
            width: 230px;
            color: #FFFFFF;
            h1{
                width: 140px;
                margin-right: 5px;
                font-family: 'Mulish-ExtraBold';
                font-weight: 300;
                font-style: normal;
                font-size: 48px;
                line-height: 60px;
                padding: 5px;
            }
            p{
                font-family: 'Mulish-Medium';
                font-weight: 650;
                font-style: normal;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                padding-top: 10px;
            }
        }
    }
}
#onlyBenefits{
    padding-bottom: 100px;
    .header{
        font-family: 'Mulish-Bold';
        font-style: normal;
        font-weight: 200;
        font-size: 34px;
        line-height: 43px;
        color: #000000;
        margin-bottom: 70px;
    }
    .commonColumn{
        width: calc(100%/3.3);
        margin-bottom: 10px;
        .logo{
            width: 60px;
            height: 60px;
            background-image: url(../img/logotip.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 31px;
        }
        h5{
            font-family: 'Mulish-SemiBold';
            font-weight: 800;
            font-size: 24px;
            font-style: normal;
            line-height: 30px;
            color: #000000;
        }
        p{
            font-family: 'Mulish-Regular';
            font-weight: 750;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.6);
        }
    }
}