#navbar{
    a{
        color: #000000;
    }
    background-color: #FFFFFF;
    .container_own{
        .navbar{
            .navbar-brand{
                width: 198px;
                height: 45px;
                background-image: url(../img/Logo.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .collapse{
                .navbar-nav{
                    .nav-item{
                        i{
                            color: #3F79FF;
                            font-size: 12px;
                            padding-left: 5px;
                        }
                        .nav-link {
                            font-family: 'Mulish-Medium';
                            font-style: normal;
                            font-weight: 650;
                            font-size: 16px;
                            line-height: 18px;
                            letter-spacing: 0.2px;
                            color: #000000;
                        }
                        .nav-link.show{
                            .fa-arrow-up{
                                display: var(--fa-display,inline-block) !important;
                            }
                            .fa-arrow-down{
                                display: none !important;
                            }
                        }
                        .nav-link:hover{
                            color:#3F79FF;
                        }
                        .nav-link.active{
                            color: #3F79FF !important;
                        }
                        .dropdown-menu{
                            width: 793px;
                            top: 50px;
                            left: -150px;
                            border-radius: 0px 0px 5px 5px;
                            border-top: 4px solid #3F79FF;
                            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                            .subMenu{
                                width: calc(100%/4.1);
                                .dropdown-item{
                                    font-family: 'Mulish-Bold';
                                    font-weight: 200;
                                    font-style: normal;
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: #3F79FF;   
                                }
                                .dropdown-item:hover{
                                    text-decoration: none !important;
                                    background-color: #FFFFFF;
                                    color: #1f5be9 !important;
                                }
                                .subDevelopment{
                                    a{
                                        font-family: 'Mulish-Regular';
                                        font-weight: 750;
                                        font-style: normal;
                                        font-size: 14px;
                                        line-height: 18px;
                                        letter-spacing: 0.2px;
                                    }
                                }
                                ul{
                                    padding-left: 17px;
                                    li a{
                                        font-family: 'Mulish-Regular';
                                        font-weight: 750;
                                        font-style: normal;
                                        font-size: 14px;
                                        line-height: 18px;
                                        letter-spacing: 0.2px;
                                        color: #000000;
                                        transition: all .3s linear;
                                    }
                                }
                            }
                            .subMenu a:hover{
                                color: #3F79FF !important;
                                transition:  all .3s linear;
                            }
                            #subCyber.subMenu{
                                margin-left: auto;
                                margin-top: -90px;
                            }
                        }
                    }
                }
                .ingressAcademy{
                    font-family: 'Mulish-Bold';
                    font-weight: 200;
                    font-style: normal;
                    font-size: 15px;
                    line-height: 24px;
                    color: #000000;
                    .rightArrowIcon{
                        width: 20px;
                        height: 21px;
                        background-image: url(../img/fas-fa-right-icon.svg);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.navbar-light .navbar-toggler {
    color: #FFFFFF;
    border: 1px solid #3F79FF;
}
@media screen and (min-width: 375px){
    #navbar{
        .container_own{
            padding-left: 50px !important;
            padding-right: 50px !important;
            .navbar{
                .navbar-brand{
                    width: 150px;
                    height: 33px;
                }
                .dropdown-menu{
                    width: 100% !important;
                    #subInfrastructure.subMenu{
                        margin-top: 20px !important;
                    }
                    #subCyber.subMenu{
                        margin-left: 0% !important;
                        margin-top: 20px !important;
                    }
                    #subTraining.subMenu{
                        margin-top: 20px !important;
                    }
                    #subConsulting.subMenu{
                        margin-top: 20px !important;
                    }
                    .subMenu{
                        width: 100% !important;
                        text-align: center !important;
                    }
                }
            }
        }
    } 
}
@media screen and (min-width: 450px){
    #navbar{
        .container_own{
            .navbar{
                .navbar-brand{
                    width: 150px;
                    height: 33px;
                    display: block;
                }
            }
        }
    } 
}
@media screen and (min-width: 500px){
#navbar{
    .container_own{
        .navbar{
            .navbar-brand{
                width: 170px;
                height: 38px;
            }
        }
    }
    } 
}
@media screen and (min-width: 570px){
#navbar{
    .container_own{
        padding-left: 70px !important;
        padding-right: 70px !important;
        .navbar{
            .navbar-brand{
                width: 198px;
                height: 45px;
            }
            .dropdown-menu{
                .subMenu{
                    width: calc(100%/2.2) !important;
                    text-align: left !important;
                }
                #subConsulting.subMenu{
                    margin-top: 0 !important;
                }
            }
        }
    }
}
}
@media screen and (min-width: 768px){
    #navbar{
        .container_own{
            padding-left: 100px !important;
            padding-right: 100px !important;
            .navbar{
                
            }
        }
    }
}
@media screen and (min-width: 876px){
    #navbar{
        .container_own{
            .navbar{
                .dropdown-menu{
                    .subMenu{
                        width: calc(100%/3.2) !important;
                    }
                    #subInfrastructure.subMenu{
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px){
    #navbar{
        .container_own{
            .navbar{
                .container-fluid{
                    .collapse{
                        .navbar-nav{
                            .dropdown-menu{
                                width: 793px !important;
                                .subMenu{
                                    width: calc(100%/4.1) !important;
                                }
                                #subCyber.subMenu{
                                    margin-left: auto !important;
                                    margin-top: -90px !important;
                                }
                                #subTraining.subMenu{
                                    margin-top: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1130px){
#navbar{
    .container_own{
        padding-left: 165px !important;
        padding-right: 165px !important;
        }
    }
}