* {
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

body {
//   background: #e5e5e5;
  overflow-x: hidden;
//   font-weight: 500;
//   color: #333333;
}

@media screen and (min-width: 576px) {
  .container-own {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container-own {
    max-width: 760px;
  }
}
@media screen and (min-width: 991px) {
  .container-own {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container-own {
    max-width: 1155px;
  }
}
@media screen and (min-width: 1350px) {
  .container-own {
    max-width: 1205px;
  }
}
