* {
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

body {
//   background: #e5e5e5;
  overflow-x: hidden;
//   font-weight: 500;
//   color: #333333;
}

@media screen and (min-width: 375px) {
  #navbar{
    .navbar-nav{
      ul li{
        margin-bottom: 5px;
        #service{
          margin-bottom: 0;
        }
      }
    }
    .container_own{
      padding-left: 50px !important;
    }
  }
  #topSection{
    .owl-carousel{
      .item{
        .container_own{
          padding-left: 50px !important;
          padding-right: 50px !important;
          top: 90px !important;
          .headerOverBg{
            width: 70% !important;
            font-size: 23px !important;
            line-height: 50px !important;
          }
        }
      }
    }
  }
  #whatWeDo{
    .video{
      iframe{
        width: 350px;
        height: 190px;
      }
    }
  }
  #ourTechnology{
    .container_own{
      padding-left: 50px !important;
      padding-right: 50px !important;
      .stacks{
        .commonIcon{
          width: calc(100%/4.1) !important;
          height: 107px !important;
        }
      }
    }
  }
  .linkToSite{
    .container_own{
      padding-left: 50px !important;
      padding-right: 50px !important;
      .rightColumn{
        .logo{
          width: 229.52px !important;
          height: 42px !important;
        }
        P{
          font-size: 13px !important;
        }
      }
    }
  }
  #ourServices{
    .container_own{
      padding-left: 80px !important;
      padding-right: 80px !important;
      .services{
        width: 100% !important;
        height: 220px !important;
      }
    }    
  }
  .statistics{
    .background{
      .innerBg{
        .commonStatistic{
          h1{
            font-size: 30px !important;
          }
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
  #onlyBenefits{
    .container_benefits{
      padding-left: 80px !important;
      padding-right: 80px !important;
      .commonColumn{
        width: 100% !important;
      }
    }
  }
  #ourTeam{
    .backgroundColor{
      .container_team{
        padding-left: 100px !important;
        padding-right: 100px !important;
        .team_corusel{
          .owl-nav{
            width: 140% !important;
            left: -48px !important;
          }
        }
      }
    }
  }
  footer{
    .container_own{
      padding-left: 100px !important;
      padding-right: 100px !important;
      .contact{
        .adress{
          width: 100% !important;
          .googleMap{
            iframe{
              width: 260px !important;
            }
          }
        }
        .message{
          width: 100%!important;
          .sendButton{
            text-align: center !important;
          }
        }
      }
    }
    .copyRight{
      padding-left: 100px !important;
    }
  }
}
@media screen and (min-width: 570px) {
  #navbar{
    .container_own{
      padding-left: 100px !important;
    }
  }
  #topSection{
    .owl-carousel{
      .item{
        .container_own{
          padding-left: 80px !important;
          padding-right: 80px !important;
          top: 100px !important;
          .headerOverBg{
            width: 70% !important;
            font-size: 28px !important;
            line-height: 74px;
          }
        }
      }
    }
  }
  #whatWeDo{
    .video{
      iframe{
        width: 450px;
        height: 244px;
      }
    }
  }
  #ourTechnology{
    .container_own{
      padding-left: 50px !important;
      padding-right: 50px !important;
      .stacks{
        .commonIcon{
          width: calc(100%/5.4) !important;
          height: 110px !important;
        }
      }
    }
  }
  .linkToSite{
    .container_own{
      padding-left: 50px !important;
      padding-right: 50px !important;
      .rightColumn{
        .logo{
          width: 229.52px !important;
          height: 42px !important;
        }
        P{
          font-size: 13px !important;
        }
      }
    }
  }
  #ourServices{
    .container_own{
      padding-left: 80px !important;
      padding-right: 80px !important;
      .services{
        width: 100% !important;
        height: 220px !important;
      }
    }    
  }
  #ourTeam{
    .backgroundColor{
      .container_team{
        padding-left: 100px !important;
        padding-right: 100px !important;
        .team_corusel{
          .owl-nav{
            width: 137% !important;
            left: -63px !important;
          }
        }
      }
    }
  }
  .statistics{
    .background{
      .innerBg{
        .commonStatistic{
          h1{
            font-size: 48px !important;
          }
          p{
            font-size: 14px !important;
          }
        }
      }
    }
  }
  footer{
    .container_own{
      padding-left: 100px !important;
      padding-right: 100px !important;
      .contact{
        .adress{
          width: 100% !important;
          .googleMap{
            iframe{
              width: 500px !important;
            }
          }
        }
        .message{
          width: 100%!important;
        }
      }
    }
  }
}
@media screen and (min-width: 590px) {
  #ourTeam{
    .backgroundColor{
      .container_team{
        .team_corusel{
          .owl-nav{
            width: 129% !important;
            left: -55px !important;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .container-own {
    max-width: 760px;
  }
  #topSection{
    .owl-carousel{
      .item{
        .container_own{
          padding-left: 100px !important;
          padding-right: 165px !important;
          top: 100px !important;
          .headerOverBg{
            width: 70% !important;
            font-size: 28px !important;
          }
        }
      }
    }
  }
  #whatWeDo{
    .video{
      iframe{
        width: 650px;
        height: 353px;
      }
    }
  }
  #ourTechnology{
    .container_own{
      padding-left: 50px !important;
      padding-right: 50px !important;
      .stacks{
        .commonIcon{
          width: calc(100%/11.4) !important;
          height: 78px !important;
        }
      }
    }
  }
  .linkToSite{
    .container_own{
      padding-left: 80px !important;
      padding-right: 80px !important;
      .rightColumn{
        .logo{
          width: 379.52px !important;
          height: 77px !important;
        }
        P{
          font-size: 24px !important;
        }
      }
    }
  }
  #ourServices{
    .container_own{
      padding-left: 165px !important;
      padding-right: 165px !important;
      .services{
        width: 350px !important;
        height: 220px !important;
      }
    }    
  }
  #ourTeam{
    .backgroundColor{
      .container_team{
        padding-left: 180px !important;
        padding-right: 180px !important;
        .team_corusel{
          .owl-nav{
            width: 137% !important;
            left: -70px !important;
          }
        }
      }
    }
  }
  #onlyBenefits{
    .container_benefits{
      padding-left: 197px !important;
      padding-right: 197px !important;
      .commonColumn{
        width: calc(100%/2.3) !important;
      }
    }
  }
  footer{
    .container_own{
      padding-left: 165px !important;
      padding-right: 165px !important;
      .contact{
        .adress{
          width: 48% !important;
          .googleMap{
            iframe{
              width: 323px !important;
            }
          }
        }
        .message{
          width: 60%!important;
        }
      }
    }
    .copyRight{
      padding-left: 160px !important;
    }
  }
}
@media screen and (min-width: 922px) {
  #navbar{
    .container_own{
      padding-left: 165px !important;
    }
  }
  .linkToSite{
    .container_own{
      padding-left: 80px !important;
      padding-right: 80px !important;
      .goToSite{

      }
    }
  }
  #topSection{
    .owl-carousel{
      .item{
        .container_own{
          top: 150px !important;
          padding-left: 165px !important;
          padding-right: 165px !important;
        }
      }
    }
  }
  #ourTeam{
    .backgroundColor{
      .container_team{
        .team_corusel{
          .owl-nav{
            width: 126% !important;
            left: -71px !important;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 991px) {
  .container-own {
    max-width: 960px;
  }
  #topSection{
    .owl-carousel{
      .item{
        .container_own{
          padding-left: 165px !important;
          padding-right: 165px !important;
          .headerOverBg{
            width: 70% !important;
            font-size: 32px !important;
          }
        }
      }
    }
  }
  #whatWeDo{
    .video{
      iframe{
        width: 836px !important;
        height: 454px !important;
      }
    }
  }
  #ourTechnology{
    .container_own{
      padding-left: 80px !important;
      padding-right: 80px !important;
      .stacks{
        .commonIcon{
          width: calc(100%/11.4) !important;
          height: 78px !important;
        }
      }
    }
  }
  .linkToSite{
    .container_own{
      padding-left: 165px !important;
      padding-right: 165px !important;
      .goToSite{

      }
    }
  }
  #ourTeam{
    .backgroundColor{
      .container_team{
        .team_corusel{
          .owl-nav{
            width: 126% !important;
            left: -71px !important;
          }
        }
      }
    }
  }
  #onlyBenefits{
    .container_benefits{
      padding-left: 197px !important;
      padding-right: 197px !important;
      .commonColumn{
        width: calc(100%/3.3) !important;
      }
    }
  }
  footer{
    .container_own{
      .contact{
        .adress{
          .googleMap{
            iframe{
              width: 323px !important;
            }
          }
        }
        .message{
          width: 48% !important;
          .sendButton{
            text-align: right !important;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .container-own {
    max-width: 1155px;
  }
  #topSection{
    .owl-carousel{
      .item{
        .container_own{
          top: 223px !important;
          .headerOverBg{
            width: 60% !important;
            font-size: 38px !important;
          }
        }
      }
    }
  }
  #ourTechnology{
    .container_own{
      .stacks{
        .commonIcon{
          width: calc(100%/11.4) !important;
          height: 78px !important;
        }
      }
    }
  }
  #ourTeam{
    .backgroundColor{
      .container_team{
        .team_corusel{
          .owl-nav{
            width: 123% !important;
          }
        }
      }
    }
  }
  footer{
    .container_own{
      .contact{
        .adress{
          .googleMap{
            iframe{
              width: 425px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  .container-own {
    max-width: 1205px;
  }
  #topSection{
    .owl-carousel{
      .item{
        .container_own{
          .headerOverBg{
            width: 60% !important;
            font-size: 38px !important;
          }
        }
      }
    }
  }
  #ourTechnology{
    .container_own{
      .stacks{
        .commonIcon{
          width: calc(100%/10.4) !important;
          height: 100px !important;
        }
      }
    }
  }
  #ourTeam{
    .backgroundColor{
      .container_team{
        .team_corusel{
          .owl-nav{
            width: 120% !important;
          }
        }
      }
    }
  }
  footer{
    .container_own{
      .contact{
        .adress{
          .googleMap{
            iframe{
              width: 495px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  #ourTeam{
    .backgroundColor{
      .container_team{
        .team_corusel{
          .owl-nav{
            width: 116% !important;
          }
        }
      }
    }
  }
  footer{
    .container_own{
      .contact{
        .adress{
          .googleMap{
            iframe{
              width: 575px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1700px) {
  #ourTechnology{
    .container_own{
      .stacks{
        .commonIcon{
          width: calc(100%/9.4) !important;
          height: 150px !important;
        }
      }
    }
  }
  #ourTeam{
    .backgroundColor{
      .container_team{
        .team_corusel{
          .owl-nav{
            width: 114% !important;
          }
        }
      }
    }
  }
  footer{
    .container_own{
      .contact{
        .adress{
          .googleMap{
            iframe{
              width: 660px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1828px) {
  footer{
    .container_own{
      .contact{
        .adress{
          .googleMap{
            iframe{
              width: 750px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .container-own {
    max-width: 1205px;
  }
}
